@model MenuPage
@{
    var count = 0;

}


<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link href="~/css/AddNewDish.css" rel="stylesheet" type="text/css" asp-append-version="true" />
@section Scripts
{
    <script src="@Url.Content("~/js/AddNewDish.js")"></script>
}





<div class="container">
    <form id="signup" asp-controller="Account" asp-action="Register" method="post">

        <div class="header">

            <h3>Ska ny maträtt</h3>

            <p>Fyll i maträttens information</p>

        </div>

        <div class="sep"></div>

        <div class="inputs">

            @if (Model.IngrediensTaken == true)
            {
                <span class="text-danger">Upptaget</span><br />
            }
            <input type="text" placeholder="Maträtt namn" autofocus maxlength="100" />
            <br />
            <label>Välj Maträtts typ</label>
            <select class="browser-default custom-select" asp-for="@Model.mattratttyp.Beskrivning">



                @foreach (var item in Model.mattratttyper)
                {
                    <option class="dropdown-item">@item.Beskrivning</option>
                }

            </select>



            <br />
            <br />
            @if (Model.IngrediensTaken == true)
            {
                <span class="text-danger">Finns redan</span><br />
            }

            <input type="text" placeholder="Skapa ny ingrediens här" autofocus maxlength="100" />
            <br />
            <a type="button" class="btn btn-success" asp-action="AddProdukt" asp-controller="Admin">Spara ingrediens</a>
            <br />
            <br />


            <select id="test">
                @foreach (var item in Model.Ingredienses)
                {
                    <option value="@item.ProduktId">@item.ProduktNamn</option>
                }
            </select>


            <br />
            <br />



            <input id="submit" type="submit" value="Skapa" />


        </div>

    </form>

</div>

