@model OrdersViewModel

@{ 
    var all = "all";
    var delivered = "delivered";
    var undelived = "undelivered";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/AdminOrders.css" asp-append-version="true" />

<div class="align-content-center bg-white admin-container">
    <h1>@ViewData["Title"]</h1>
    <div class="text-center"><h2>Lista på Ordrar</h2></div>
    <div class="text-left">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">

                        <div class="btn-group">
                            <form asp-action="Orders" asp-controller="Admin" method="post">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><label type="submit" class="dropdown-item" asp-for="@all">Alla</label></li>
                                    <li><label type="submit" class="dropdown-item" asp-for="@delivered">Levererade</label></li>
                                    <li class="dropdown-item divider"></li>
                                    <li><label type="submit" class="dropdown-item" asp-for="@undelived">Inte Levererade</label></li>
                                </ul>
                            </form>
                        </div>
                        &nbsp Val av ordrar
                    </th>
                </tr>
            </thead>
        </table>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Namn</th>
                    <th scope="col">Adress</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Totalbelopp</th>
                    <th scope="col"></th>
                    <th scope="col">Levererad</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {

                <tr>
                    <td>@order.BestallningDatum</td>
                    <td>@order.Kund.Namn</td>
                    <td>@order.Kund.Gatuadress</td>
                    <td>@order.Kund.Telefon</td>
                    <td>@order.Totalbelopp</td>
                    @if (order.Levererad == false)
                    {
                        <td class="btn btn-danger">Inte Levererad</td>
                    }
                    else
                    {
                        <td class="btn btn-success">Levererad</td>
                    }

                    <td><a asp-action="OrderDetailView" asp-controller="Admin">Order Detalj</a></td>

                </tr>
                }
                

            </tbody>
        </table>
    </div>

</div>